.dropdown-content {
      width: 1023px;
      margin-left: auto;
      margin-right: auto;
      /* position: relative; */
      margin-bottom: 3%;
}

.title-dropdown {
      display: flex;
      background-color: #ff6060;
      border-radius: 5px;
      position: relative;
      width: 100%;
      justify-content: space-between;
}

.title-dropdown h2 {
      color: #ffffff;
      margin-left: 2.5%;
}

.title-dropdown img {
      margin-right: 2.5%;
}

.dropdown-container-content {
      background-color: #f6f6f6;
      height: auto;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
}

.dropdown-container-content div {
      margin: auto;
      color: #ff6060;
      font-size: 24px;
      font-weight: 400;
      line-height: 34.22px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      line-height: 142.6%;
      list-style-type: none;
}

.dropdown-container-content div {
      padding-top: 2%;
      padding-bottom: 2%;
}

@media only screen and (max-width: 375px) {
      .dropdown-content {
            width: 335px;
      }
}

@media only screen and (max-width: 768px) {
      .dropdown-content {
            width: 91%;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
      .dropdown-content {
            width: 91%;
      }
}
