.dropdown-container-content:nth-child(1n) div {
      margin-left: 5%;
}

@media only screen and (max-width: 375px) {
      .bannerAbout div img {
            width: 335px;
            height: 111px;
      }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
      .bannerAbout div {
            width: 91%;
      }

      .bannerAbout div img {
            width: 100%;
            height: 200px;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
      .bannerAbout div {
            width: 91%;
      }

      .bannerAbout div img {
            width: 100%;
            height: 200px;
      }
}
