.error-404 {
      font-size: 288px;
      font-weight: 700;
}

.error-404-information {
      font-size: 36px;
      margin-top: -3%;
      font-weight: 500;
}

.error-404,
.error-404-information {
      color: #ff6060;
}

.error-content {
      display: flex;
      flex-direction: column;
      line-height: 1px;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 10%;
}

.nav-link-home {
      display: flex;
      justify-content: space-around;
      color: #ff6060;
      font-weight: 500;
      font-size: 24px;
      text-decoration: none;
}

.Error-return-menu {
      border-bottom: 1px solid #ff6060;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      width: 285px;
}

@media only screen and (max-width: 375px) {
      .error {
            margin-bottom: 31%;
      }

      .error-404 {
            font-size: 99px;
      }

      .error-404-information {
            font-size: 18px;
            line-height: 142.6%;
            display: flex;
            align-items: flex-end;
            text-align: center;
            width: 60%;
            margin-right: auto;
            margin-left: auto;
      }

      .nav-link-home {
            font-size: 14px;
            width: 60%;
            display: flex;
      }
}
