.title-of-accommodation {
      font-size: 36px;
      color: #ff6060;
      font-weight: 500;
}

.legende-accommodation {
      font-size: 24px;
      color: #ff6060;
      font-weight: 500;
}

.accommodation {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
}

.container-accommodation {
      width: 63%;
      position: relative;
      right: 5px;
}

.card-content {
      width: 64%;
}

.lol {
      margin-right: 2%;
}

@media only screen and (max-width: 375px) {
      .accommodation {
            display: flex;
            flex-direction: column;
      }

      .card-content,
      .card-content div,
      .title-of-accommodation {
            width: 100%;
      }

      .title-of-accommodation {
            font-size: 18px;
      }

      .legende-accommodation {
            font-size: 14px;
      }

      .container-accommodation {
            width: 63%;
            position: relative;
            right: 45px;
      }

      .dropdown-content-accommodation {
            width: 335px;
      }
}
