.footer {
      background-color: black;
      text-align: center;
      height: 180px;
      margin-top: 4%;
}

.footer h1 {
      color: white;
      font-size: 24px;
}

.footer-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.footer-content img {
      width: auto;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
}

@media only screen and (max-width: 375px) {
      .footer h1 {
            font-size: 12px;
      }
}
